In [2]:
import pandas as pd

In [11]:
data = pd.read_csv("30-60.csv")
data.head()

,Subject Type,Frame Index,Timestamp(x),Orbital,Nose,Ears,Whiskers,Cheek,Total Grimace Score,AU Scored,Confidence(Orbital),Confidence(Nose),Confidence(Ears),Confidence(Whiskers),Confidence(Cheek),Face Model,MGS Model
0,c57bl/6,0,0.000,-1,-1,-1,-1,NaN,NaN,0,0.000000,0.0,0.000000,0.0,NaN,general/fau/generalv5,c57bl6-pain-mgs-20220901
1,c57bl/6,240,1.001,1,2,-1,-1,NaN,NaN,2,0.998054,1.0,0.000000,0.0,NaN,general/fau/generalv5,c57bl6-pain-mgs-20220901
2,c57bl/6,480,2.002,2,-1,1,-1,NaN,NaN,2,0.992651,0.0,0.999765,0.0,NaN,general/fau/generalv5,c57bl6-pain-mgs-20220901
3,c57bl/6,720,3.003,1,-1,-1,-1,NaN,NaN,1,0.996805,0.0,0.000000,0.0,NaN,general/fau/generalv5,c57bl6-pain-mgs-20220901
4,c57bl/6,960,4.004,2,-1,1,-1,NaN,NaN,2,0.800179,0.0,0.991011,0.0,NaN,general/fau/generalv5,c57bl6-pain-mgs-20220901

In [62]:
fau_names = data.columns[3:7]
conf_names = data.columns[10:14]

# have user input viable indices where bounding boxes are accurate
viables = [11, 24, 25]
faus = data.loc[viables, fau_names]

faus

    Orbital  Nose  Ears  Whiskers
11        0    -1     0         2
24        0    -1     1        -1
25        1    -1     1         1